
.prevbox {
    display: flex;
    align-items: center;
    justify-content: center;}



.cloned-box {
    position: relative;
    background-color: #640960;
    width: 300px;
    height: 200px;
    border: 2px;
    /* border: 15px solid green; */
    /* padding: 50px; */
    /* margin: 20px; */
}


.cloned-box::after {
    content: "";
    position: absolute;
    background-color: rgb(28, 130, 27);
    width: 50%;
    height: 100%;
    /* margin: 20px; */

}

.cloned-box:hover::after {
    background-color: blue;

}