style

.card {
    box-shadow: 10px 10px; 
    
width: 30%;
}
.card:hover {
    box-shadow: 6px 6px;
}

.container {
    padding: 3px 15px;
}
.p  {
    text-decoration: underline;
color: #000;
}
.h1 { color: #000;}
.h2 {color: #000;}