h1 {
    border: 3px solid red;
    font-size: 2em;
    border-radius: 5px;
}
h2 {
    font-style: italic;
    font-style: bold;
}

h3 {
    background-color: #000;
    color:#fff;
    box-shadow: 0.9px;
    font-family:monospace;
}